:root {
    --light-main-background-color: #fff;
    --light-main-foreground-color: #333;
    --light-main-foreground-color-light: #eee;
    --light-main-foreground-color-medium: #888;

    --light-actionbar-background-color: #eee;
    --light-actionbar-highlight-color: #ddd;

    --light-button-background-color: #444;
    --light-button-foreground-color: #eee;
    --light-button-highlight-color: #666;

    --light-dropdown-background-color: #fff;
    --light-dropdown-foreground-color: #333;
    --light-dropdown-shadow: 0 0.15rem 0.5rem rgba(34, 34, 34, 0.25);
    --light-dropdown-divider-background-color: #eee;

    --light-graph-cursor-background-color: #aaa;

    --light-input-background-color: #eee;
    --light-input-border-color: #ccc;

    --light-modal-shadow: 0 0.15rem 0.5rem rgba(34, 34, 34, 0.25);

    --light-sidepane-background-color: rgba(0, 0, 0, 0.15);
    --light-sidepane-shadow: 0 0.15rem 0.5rem rgba(34, 34, 34, 0.25);

    --light-spinner-background-color: rgba(0, 0, 0, 0.1);

    --light-tooltip-background-color: rgba(51, 51, 51, 0.95);
    --light-tooltip-foreground-color: #eee;
    --light-tooltip-foreground-color-medium: #aaa;
}
